name: hadolint

on:
  pull_request:
    branches: ["develop"]
    paths:
      - "**/Dockerfile"
      - "**/Dockerfile.*"
      - ".hadolint.yaml"
      - ".hadolint.yml"
  push:
    branches: ["main"]
    paths:
      - "**/Dockerfile"
      - "**/Dockerfile.*"
      - ".hadolint.yaml"
      - ".hadolint.yml"

jobs:
  hadolint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Hadolint
        uses: hadolint/hadolint-action@v3.1.0
        with:
          failure-threshold: error
