name: hadolint

on:
  pull_request:
    branches: ["main", "develop"]
  
  push:
    branches: ["main", "develop"]
    paths:
      
jobs:
  hadolint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Hadolint
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: images/Dockerfile
          failure-threshold: warning
